%img#about-us-01.slice{ src: image_path("about_us_01.jpg") }
%img#about-us-02.slice{ src: image_path("about_us_02.jpg") }
%img#about-us-03.slice{ src: image_path("about_us_03.jpg") }
%img#about-us-04.slice{ src: image_path("about_us_04.jpg") }
%img#about-us-05.slice{ src: image_path("about_us_05.jpg") }

%a#site-link{ href: "#", target: "_blank" }