%img#newsletter-01.slice{ src: image_path("newsletter_01.jpg") }
%img#newsletter-02.slice{ src: image_path("newsletter_02.jpg") }

#newsletter-form-wrapper
  = render :partial => "newsletter_users/form"