@import "active_admin/mixins";
@import "active_admin/base";

.true, .false{
  display: inline-block;
  width: 60px;
  height: 25px;
}

.true { background-color: darkGreen }
.false { background-color: darkRed }

