header
  margin-top: 40px
  img
    display: block
    margin: 0 auto

.category
  width: 72%
  padding: 20px 0px
  position: relative
  margin: 25px auto 50px 110px
  float: left
  +box-sizing(border-box)
  +border-radius($radius: 15px)
  
  .category-title
    font-family: Arial, sans-serif
    font-weight: bolder
    font-size: 26px
    text-transform: uppercase
    display: inline-block
    padding: 10px 20px
    letter-spacing: .05em
    position: absolute
    top: -30px
    left: -1px
    +border-radius($radius: 15px)
    // hack para o IE - smooth-font
    +transparent($alpha: 0.01)
    

.category.odd
  background: #fff image_url("shop/pink_dot.png")
  border: 1px solid darken($pink, 15%)
  .category-title
    background-color: $green
    border: 1px solid darken($green, 15%)
  .product .product-price, .product-alternative-price
    color: darken($green, 29%)
  .product .a-vista, .product .or, .product .preposition
    color: lighten(black, 30%)
      
    

.category.even
  background: #fff image_url("shop/green_dot.png")
  border: 1px solid darken($green, 15%)
  .category-title
    background-color: $pink
    border: 1px solid darken($pink, 15%)
  .product .product-price,
  .product .product-alternative-price
    color: lighten(black, 30%)
    .or, .preposition
      color: black
    
    

.product
  display: inline-block
  float: left
  width: 152px
  height: 280px
  padding: 10px 20px
  margin: 10px auto
  border-right: 2px dotted white
  font-family: Arial, sans-serif
  font-weight: bold
  overflow: hidden
  font-size: 12px
  text-align: center
  &:nth-child(3n+1)
    border-right: none
  // hack para o IE - smooth-font
  +transparent($alpha: 0.01)

.product .product-image-wrapper
  height: 175px
  margin-bottom: 10px

.product .product-image
  max-width: 100%
  max-height: 175px
  margin-left: -9999px

.product .product-title
  text-transform: uppercase
  font-weight: bold
  text-align: center
  margin-bottom: 10px
  line-height: 1.2em
  letter-spacing: .05em

.product .product-price,
.product .product-alternative-price
  text-align: center
  color: lighten(black, 20%)
  font-size: 13px
  line-height: 1.3em
  
  
