@font-face {
  font-family: 'FuturaStd-Medium';
  src: font-url('FuturaStd-Medium.eot');
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src: font-url('FuturaStd-Medium.woff') format('woff'),
  font-url('FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
}
