!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= "Contato Site Dimlux"
  
  %body
    .user-name=@newsletter_user.name
    .user-email=@newsletter_user.email
    
